@import "tailwindcss";

#body * {
    margin-bottom: 5px;
}

h1 {
    font-size: xx-large;
    color: #e9b116;
}

h2 {
    font-size: x-large;
    color: #ebb82e;
}

h3 {
    font-size: large;
    color: #e2c165
}

h4 {
    font-size: large;
    color: #e2c165
}

#body {
    overflow-y: scroll;
    padding: 20px;
    scrollbar-width: none;
}

* {
    font-family: 'Crimson Text', serif;
    color: #e8d9b0
}

.two-column-layout img {
    max-width: 50%;
    justify-self: center; 
}

.two-column-layout p{
    padding: 10px;
    border-radius: 12px;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}